<header>
  <button id="t" class="h_b">BDLD. Second retake. Death or live.</button>
</header>
<script>
  const buttonMain = document.getElementById("t")
  buttonMain.addEventListener("click", () => window.location.replace("/"))

</script>